@page "/about"

<div>
    <h1>About TestApp</h1>

    <p>
        This is a test application used to validate and illustrate the the use of CafeLib.Blazor Javascript interoperbility objects of <a href="https://github.com/chrissolutions/CafeLib/tree/main/Blazor">CafeLib.Blazor</a> in a Blazor application.
    </p>
    <p>
        JsInteropProxy is used to define a proxy that calls the JavaScript file that defines the JavaScript methods.
    </p>
    <p>
        JsInteropObject is an abstract class of the instance objects that calls into JavaScript.
    </p>
</div>

@code {
}
